@import '../../styles/mixins';

.error-container {
  @include flexcolumn(34px);
  align-items: center;

  &__body {
    @include flexcolumn(12px);
    align-items: center;

    h1 {
      font-size: 40px;
      font-weight: 500;
    }

    p {
      font-size: 20px;
    }
  }
}
