extends ../../templates/main
include ../../components/avatar
include ../../components/input
include ../../components/button-submit

block head
  link(rel="stylesheet", href="../../styles/main.scss")
  link(rel="stylesheet", href="./style.scss")
  title Твой профиль

block main 
  .wrapper__centered
    .profile-container
      + avatar('large')
      h1.profile-container__title Изменить пароль
      form.profile-container__body
        + input('oldPassword', 'password', 'Старый пароль', '123456789')
        + input('newPassword', 'password', 'Пароль', '987654321')
        + input('newPassword_r', 'password', 'Пароль (еще раз)', '987654321')
        + buttonSubmit('Сохранить')
