@import '../../styles/consts';
@import '../../styles/mixins';

.profile-container {
  @include flexcolumn(32px);
  @include fullpadding(32px, 32px);
  align-items: center;
  background-color: $secondaryBg;
  border-radius: 12px;

  &__title {
    font-size: 24px;
    font-weight: 500;
  }

  &__body {
    @include flexcolumn(12px);
    width: 384px;
  }

  &__footer {
    @include flexcolumn(12px);
  }
}
