$minWidth: 992px;
$mainBg: #18142b;
$secondaryBg: #231834;
$fontFamily: 'Roboto';
$mainFontColor: #ffffff;
$secondaryFontColor: #a7a6af;
$primary: #6c31ff;
$primaryHover: #4096ff;
$danger: #a70000;
$ghost: #3369f3;
$ghostHover: #69b1ff;
$defaultHover: rgb(56 61 66 / 65%);