%flex-column {
  display: flex;
  flex-direction: column;
}

%block-padding {
  padding-block: 24px;
  padding-inline: 12px;
}

.messager-container {
  display: flex;
  flex: 1;
}

.sidebar-container {
  @extend %flex-column;
  flex: 1;
  position: relative;
  border-right: 2px solid #2b2834;

  &__header {
    @extend %block-padding;
    border-bottom: 2px solid #2b2834;
  }

  &__body {
    @extend %block-padding;
  }

  &__add-chat {
    position: absolute;
    bottom: 20px;
    right: 12px;
  }
}

.user-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__info {
    display: flex;
    gap: 12px;
  }

  &__name {
    span {
      color: #a7a6af;
      font-size: 10px;
      line-height: 21px;
    }
  }
}

.message-feed-container {
  @extend %flex-column;
  flex: 3;

  &__body {
    @extend %flex-column;
    flex: 1;
  }

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #a7a6af;
  }

  &__footer {
    @extend %block-padding;
    border-top: 2px solid #2b2834;
  }
}

.search-form,
.message-form {
  display: flex;
  gap: 8px;

  .input {
    flex: 1;
  }
}
